:root {
    --bs-danger: #b63d30;
    --bs-body-bg: #181818;
    --brand-red: #ff0600;
    --bs-dark: #252525;
    --bs-dark-rgb: 37,37,37;
    --card-header: #303030;
    --text-link: #ff8833;
    --text-link-hover: #ff8833;
    --btn-blue: #00728c;
    --btn-blue-hover: #004859;
    --btn-red: #d51d1d;
    --btn-red-hover: #a81b1b;
    --twitch-link: #975fff;
    --twitch-link-hover: #823eff;
    --youtube-link: #ff4646;
    --youtube-link-hover: #ff2626;
    --other-link: #ff8833;
    --other-link-hover: #ff6c00;
}

a {
    text-decoration: none;
    color: var(--text-link);
}

a:hover {
    text-decoration: underline;
    color: var(--text-link-hover);
}

.btn:hover {
    text-decoration: none;
}

.btn-primary,
.btn-primary:focus {
    background-color: var(--btn-blue);
    border-color: var(--btn-blue);
}

.btn-primary:active,
.btn-primary:hover {
    background-color: var(--btn-blue-hover);
    border-color: var(--btn-blue-hover);
    text-decoration: none;
}

.btn-danger,
.btn-danger:focus {
    color: #fff;
    background-color: var(--btn-red);
    border-color: var(--btn-red);
}

.btn-danger:hover {
    color: #fff;
    background-color: var(--btn-red-hover);
    border-color: var(--btn-red-hover);
    text-decoration: none;
}

body {
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
}

i {
    font-style: normal;
}

.modal-content {
    background-color: var(--bs-dark);
}

.alert-primary {
    background-color:  var(--btn-blue);
}

/* Scores page styles */

.header-logo {
    width: 95%;
}

.scores-table {
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
}

.links-cell {
    min-width: 75px;
}

.twitch-link,
.twitch-link>i {
    text-decoration: none;
    color: var(--twitch-link);
    font-size: 1.5rem;
    padding: 0px 3px;
}

.twitch-link>i:hover {
    color: var(--twitch-link-hover);
}

.youtube-link,
.youtube-link>i {
    text-decoration: none;
    color: var(--youtube-link);
    font-size: 1.5rem;
    padding: 0px 3px;
}

.youtube-link>i:hover {
    color: var(--youtube-link-hover);
}

.other-link,
.other-link>i {
    text-decoration: none;
    color: var(--other-link);
    font-size: 1.5rem;
    padding: 0px 3px;
}

.other-link>i:hover {
    color: var(--other-link-hover);
}

.medal {
    height: 35px;
}

/* Navbar styles */

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-logo {
    height: 50px;
}

.nav-row {
    margin-bottom: 75px;
}

/* Side menu styles */

.offcanvas {
    background-color: var(--bs-dark);
}

.offcanvas-logo {
    width: 95%;
    height: 32px;
}

/* Footer styles */

.footer {
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15) !important;
}

/* Admin panel styles */

.card {
    background-color: var(--bs-dark);
}

.card-header {
    background-color: var(--card-header);
}

.help-link {
    color: #bbb;
}

.help-link:hover {
    color: #fff;
}

.tutorial-btn.btn-primary:hover {
    background-color: var(--btn-blue);
    border-color: var(--btn-blue);
}

.tutorial-btn.btn-danger:hover {
    background-color: var(--btn-red);
    border-color: var(--btn-red);
}

[aria-expanded="false"] .fa-circle-minus,
[aria-expanded="true"] .fa-circle-question {
    display: none;
}

.message-box {
    z-index: 10;
    margin-top: 4rem;
}

.tutorial-btn {
    padding: 3px 6px;
    cursor: initial;
    margin-bottom: 2px;
}

@media (min-width: 1200px) {
    .header-logo {
        width: 80%;
    }
}