{% extends "base.html" %}
{% block content %}
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-8 mx-auto mt-5 text-center">
      <img src="{{ url_for('static', filename='images/speedleague-logo.svg') }}" class="header-logo"
        alt="SpeedLeague logo">
      <h2 class="display-6 mt-5">{{ url_to_display(game["name"]) }}</h2>
      <h3>{{ url_to_display(category["name"]) }}</h3>
      <hr>
      <p>{{ category['desc'] }}</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <table class="table table-hover table-striped text-center align-middle">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Player</th>
            <th scope="col">Time</th>
            <th class="visually-hidden" scope="col">Links</th>
          </tr>
        </thead>
        <tbody class="scores-table">
          {% for score in scores -%}
          <tr>
            <td>
              {%- if loop.index == 1 -%}
              <img src="{{url_for('static', filename='images/gold-medal.svg')}}" class="medal">
              {%- elif loop.index == 2 -%}
              <img src="{{url_for('static', filename='images/silver-medal.svg')}}" class="medal">
              {%- elif loop.index == 3 -%}
              <img src="{{url_for('static', filename='images/bronze-medal.svg')}}" class="medal">
              {%- else -%}
              {{ loop.index }}
              {%- endif -%}
            </td>
            <td>{{ score._id }}</td>
            <td>{{ centi_to_string(score.score) }}
              {%- if loop.nextitem -%}<br>
              <small>{{ "+" + centi_to_string(loop.nextitem.score - score.score) }}</small>
              {%- endif -%}
            </td>
            <td class="links-cell">
              {%- if score.links.twitch -%}
              <a href='{{ score.links.twitch }}' target="_blank" rel="nofollow" 
                class="twitch-link"><i class="fa-brands fa-twitch"></i></a>
              {%- endif -%}
              {%- if score.links.youtube -%}
              <a href='{{ score.links.youtube }}' target="_blank" rel="nofollow" 
                class="youtube-link"><i class="fa-brands fa-youtube"></i></a>
              {%- endif -%}
              {%- if score.links.link -%}
              <a href='{{ score.links.link }}' target="_blank" rel="nofollow" 
                class="other-link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
              {%- endif -%}
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="100">
              <em>No scores recorded.</em>
            </td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}